<!DOCTYPE html>
<html>
<head>
	<title>Rates Result</title>
</head>
<body>
	<h1>Rate Result</h1>
	<p>The Rate of "<b><%= weight %>oz."</b> of <b><%= type %></b> is: <b><%= result %></b></p>
</body>
</html>